*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* margin-top: 50px; */
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 1em;
}

:root {
  font-family: Segoe UI, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background: linear-gradient(0deg, #1a1a1a 100%, #0000ff 0%);
  background-size: 200px 200px;
  background-repeat: repeat-x; */
}

.App {
  /* padding: 2rem; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  /* background-color: #1a1a1a; */
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: calc(0.67em + 50px);
  padding-bottom: 0.67em;
  padding-left: 2rem;
  padding-right: 2rem;
  /* height: 200px; */
  /* margin-top: 50px; */
}

form {
  padding: 2rem;
}

input[type="radio"] {
  appearance: none;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.inputTypeWrapper {
  display: inline-flex;
  padding-left: 5px;
  /* padding-right: 5px; */
}

input[type="radio"]:checked+label {
  background: rgb(100, 25, 230);
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h3 {
  font-weight: 400;
}

.inputTypeHeading {
  margin-bottom: 10px;
}

.hashInput {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileName {
  margin-left: 10px;
}

.hiddenInput {
  /* visibility: collapse; */
  opacity: 0;
  width: 0px;
  padding: 0px;
  position: absolute;
  left: 50%;
}

select {
  appearance: none;
  background-image: linear-gradient(45deg,transparent 50%,currentColor 50%),linear-gradient(135deg,currentColor 50%,transparent 50%);
  background-position: calc(100% - 20px) calc(1px + 50%),calc(100% - 16px) calc(1px + 50%);
  background-size: 4px 4px,4px 4px;
  background-repeat: no-repeat;
  padding-right: 2em;
}

#wordlist {
  padding-right: 2em;
}

.crackingLabel, .wordlistLabel {
  margin-bottom: 5px;
}

#crackingType {
  width: 160px;
}

#hashType {
  width: 160px;
}

.wordlistChoice {
  margin-top: 10px;
}

.button-primary {
  background: rgb(217, 38, 169);
}

/* https://codepen.io/oksana-khristenko/pen/apzvxp */
.overlay {
  position: fixed;
  left: 0;
  top: 0%;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  display: table;
  border-width: 0;
  border-style: solid;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-radius: 20px;
}

th {
  /* background-color: rgb(36, 41, 51); */
  background-color: #1a1a1a;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th, td {
  white-space: nowrap;
  padding: 1rem;
  vertical-align: middle;
}

td {
  /* background-color: rgb(42, 48, 60); */
  background-color: #242424;
}

.tableWrapper {
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-copy {
  width: 72px;
  padding: 0.4em 0.4em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* height: 38px; */
  border-left: 1px rgba(225, 223, 223, 0.523) solid;
}

.urlBox {
  padding: 0.4em 0.4em;
  /* https://stackoverflow.com/a/53549766/4095334 */
  user-select: all;
  cursor: pointer;
}

.urlBoxWrapper {
  /* padding: 0.4em 0.4em; */
  background-color: #1d1d1d;
  /* background-color: #1a1a1a; */
  display: inline-flex;
  align-items: stretch;
  border-radius: 8px;
}

.errorBorder {
  border: 2px red solid;
}

.errorBox {
  /* background-color: rgb(248, 114, 114); */
  color: rgb(248, 114, 114);
  /* color: rgb(71, 0, 0); */
  /* padding: 12px 16px; */
  /* border-radius: 16px; */
  /* margin-bottom: 8px; */
  display: flex;
  align-items: center;
}

.errorBoxWrapper {
  display: flex;
  justify-content: center;
}

.xIcon {
 stroke: currentColor;
 fill: currentColor;
 flex-shrink: 0;
 /* width: 1.5rem; */
 height: 0.85rem;
 margin-right: 5px;
}

.button-terminate {
  margin-top: 1em;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
